<!DOCTYPE html>
<html lang="pt-br">
<head>

    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>FUTEBA 2022</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    @*<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />*@
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://kit.fontawesome.com/06ee1d2869.js" crossorigin="anonymous"></script>

</head>
<body>
    <header>
        <nav class="navbar fixed-top navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">FUTEBA 2022</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>
    </header>


    <div class="container-fluid">
        <main role="main" class="pb-3" style="margin-top:65px !important;">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted ets-footer">
        <div class="container">
            &copy; 2022 - Futeba - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js"></script>


    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>